---
import Main from "../layouts/main.layout.astro";
import Palette from "../components/palette.component.astro";
import axios from "axios";

const popularPalettes = await axios
  .get("http://localhost:3000/palette/getPopular")
  .then((response) => {
    return response.data;
  });
---

<Main title="Best Palettes for UI - ColoredUI">
  <article class="grid grid-cols-4 gap-4 w-full h-max m-4">
    <Palette />
    <Palette />
    <Palette />
    <Palette />
    <Palette />
    <Palette />
    <Palette />
  </article>
</Main>
