<header>
  <nav class="flex bg-light-100 justify-between items-center p-2 m-4 rounded-md">
    <div class="flex-1">
      <h1 class="font-bold">Logo</h1>
    </div>
    <div class="flex flex-1 justify-center items-center gap-2">
      <label for=""><i class="fi fi-sr-search"></i></label>
      <input class="bg-light-300 py-1 px-2 text-sm rounded-md placeholder:text-dark-100 placeholder:text-opacity-80" placeholder="Search..." type="text">
    </div>
    <div class="flex flex-1 justify-end">
      <button><i class="fi fi-sr-star"></i>News</button>
      <button><i class="fi fi-sr-fire-flame-curved"></i>Populars</button>
      <button><i class="fi fi-sr-shuffle"></i></button>
    </div>
  </nav>
</header>

<style>
  button {
    @apply py-1 px-2 hover:bg-purple rounded-md;
  }
</style>